@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Capriola);

header{
	position:fixed;
	background: #222;
	left: 0;	
	right: 0;
    top: 0;
    min-height: 75px;
    z-index: 75;
}

h1, h2, h3, h4, blockquote, q {
font-family: "open sans",arial,sans-serif;
}

.header-content{
	position: relative;
	z-index: 12;
}
.header-content h1{
	vertical-align: middle;
	position: relative;
	display: inline-block;
	float: left;
	line-height: 2;
	left:25;
}
.header-content h1 img{
	width: 65px;
}

a{
	text-decoration: none;
}
nav{
	float: left;
}
nav ul{
	
}
nav ul li{
	/*float: left;*/
	list-style-type: none;
	display: inline-block;
}


body{
	background: #fff;
	color: #b7b7b7;
	font-size: 16px;
	margin: 0;
}

.item-block:before {
-webkit-transform: rotate(1deg);
/*top: -132px;*/
transform: rotate(1deg);
overflow: hidden;
}
/*.item-block:before, #maia-main:before, .hangouts-header-video-placeholder:after, .hangouts-header-video:after, .hangouts-footer:before, .parallax-1:after, .parallax-2:before, .parallax-2:after, .parallax-3:before, .parallax-3:after {
background-color: #ccc;
content: '';
display: block;
height: 200px;
left: -50px;
position: absolute;
right: -50px;
z-index: 3;
}
*/



.content{	
	margin: 0 auto;
	padding-top: 80px;
	text-align: center;
}
.block{
	display: block;	
	margin: 0 auto;
}
.item-block{
	display: inline-block;
	margin: 35px;
	vertical-align: top; 
}
.item-block h2{
	font-size: 1em;
	width: 110px;
	text-align: center;
	vertical-align: bottom;
}

.stamp{	
	width: 110px;
	height: 110px;
	font-size:45px;		
	border: solid 1px #fff; 
	background: #222;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
}
.stamp span{
	display: block;	
	color: #ccc;
	padding: 32px;	
}

@media screen and (max-width:320px){
	.content{
		width: 375px;
		margin: 0 auto;
	}

}

@media screen and (max-width:480px){
	.item-block{
		margin: 3px;
	}
}
@media screen and(max-width: 768px;){
	.content{
		width: 375px;
		margin: 0 auto;
	}
}	

@media screen and (min-width:768px){
	
}

@media screen and (min-width:1280px){
	
}